[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]
''certifi''
''chardet''
''dj-database-url''
''Django''
''django-heroku''
''gunicorn''
''idna''
''psycopg2''
''pytz''
''requests''
''urllib3''
''whitenoise''


[dev-packages]